@media (min-width:768px){
    .container{
        margin: 0px 50px;
    }
    /* ==================== navigations =============== */
   /* navigation value inherit from min-width 576px */

       /* ======== homepage ========== */
    .homepage .home-content .form-search input[type="text"]{
        width: 500px;
        border-radius: 5px;
    }
    .homepage .home-content .form-search .input-val-center select{
        border-radius: 5px;
        width: 248px;
    }
    .homepage .home-content .form-search .btn-search{
        margin: 5px;
    }
    .homepage .home-content .form-search .ser-btn{
        width: 500px;
        border-radius: 5px;
    }

     /* ========= explore categories ======= */
     .categories .grid-box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

     /* ==== working section == */
     .working .grid-box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
      /* ====== browse-job ======== */
      .browse-job .browse-job-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
        /* ====== freelancer ======== */
        .freelancer .freelancer-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
         /* ======= footer ========= */
    footer .footer-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    footer .footer-content .footer-logo{
        border-right: 0;
    }
    footer .footer-content .footer-count{
        border-right: 0;
    }
     /* === footer grid === */
     footer .footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
      /* ========== bottom footer =========== */
      .bottom-footer .b-f-grid{
        display: flex;
        flex-direction: column;
    }
    .bottom-footer .b-f-grid .right-link ul{
        display: flex;
        flex-direction: row;
    }
}